<div class="d-flex justify-content-center">
  <h1>ELIMINAR</h1>
</div>
<div class="container-fluid">
  <div class="container">
    <h1>DNI USUARIO: {{id}}</h1>
    <h4>Seguro que quiere eliminar</h4>
    <mat-divider style="height: 20px; margin: 05px;" [inset]="true"></mat-divider>
    <div class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="text-white" (click)="Eliminar()">ACEPTAR</button>
      <mat-divider style=" margin: 10px;" [vertical]="true"></mat-divider>
      <button mat-raised-button color="primary" class="text-white" (click)="Cerrar()">CANCELAR</button>
    </div>
  </div>
</div>
