<div class="container">
  <mat-divider [inset]="true"></mat-divider>
  <div class="d-flex justify-content-center">
    <h5>REPORTE CUMPLEAÑOS {{titulo}}</h5>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="divbar">
    <mat-form-field>
      <mat-select placeholder="Meses" formControlName="idmes" (selectionChange)="SeleccionarMeses($event)">
        <mat-option *ngFor="let item of meses" [value]="item.i"> {{item.n}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-form-field fxFlex="40%">
      <label>
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtro">
      </label>
    </mat-form-field>
    <span fxFlex></span>
    <button class='text-danger' mat-button (click)="PDF()"><i class="fa fa-file-pdf-o"></i>PDF</button>
  </div>
  <mat-divider [inset]="true"></mat-divider>
</div>
<div class="mat-elevation-z8 cumpleanios" *ngIf="visible">

  <mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="Apellidos">
      <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">APELLIDOS</span>
        {{row.apellidos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Nombres">
      <mat-header-cell *matHeaderCellDef>Nombres</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">NOMBRES</span>
        {{row.nombres}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha Nac.">
      <mat-header-cell *matHeaderCellDef>FECHA NAC.</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">FECHA NAC.</span>
        {{row.fechan}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Edad">
      <mat-header-cell *matHeaderCellDef>EDAD</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">EDAD</span>
        {{row.edad}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="celular">
      <mat-header-cell *matHeaderCellDef>CELULAR</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">CELULAR</span>
        {{row.celular}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="celular">
      <mat-header-cell *matHeaderCellDef>CELULAR APODERADO</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">CELULAR APODERADO</span>
        {{row.celularf}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>
</div>
