<div class="d-flex justify-content-center">
  <h1>ASIGNAR TURNO EXTRA</h1>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <h1>CODIGO MATRICULA: {{idmatri}}</h1>
  </div>
  <div class="d-flex justify-content-center">
    <button class="text-white" mat-button color="primary" (click)="Cerrar()">CANCELAR</button>
    <mat-divider style="margin: 10px;" [vertical]="true"></mat-divider>
    <button class="text-white" mat-button color="primary" (click)="AddTurnoExtra()">TURNO EXTRA</button>
    <mat-divider style="margin: 10px;" [vertical]="true"></mat-divider>
    <button class="text-white" mat-button color="primary" (click)="AddHoraExtra()">HORA EXTRA</button>
  </div>
</div>
