<div fxLayout fxLayoutAlign="center center" *ngIf="visible">
  <mat-form-field fxFlex="40%">
    <label>
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtro">
    </label>
  </mat-form-field>
</div>

<div class="mat-elevation-z8 padres-table" *ngIf="visible">

  <mat-table [dataSource]="dataSource" matSort matSortStart="desc">

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">DNI</span>
        {{row.dni}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDOS</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">APELLIDOS</span>
        {{row.apellidos}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">NOMBRES</span>
        {{row.nombres}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="celular">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CELULAR</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">CELULAR</span>
        {{row.celular}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="centro">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CENTRO TRABAJO</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">CENTRO TRABAJO</span>
        {{row.centrtraba}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="familiar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>TIPO</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">TIPO</span>
        {{row.familiar}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hijo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>HIJO</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">HIJO</span>
        {{row.hijo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="detalles">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DETALLES</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">DETALLES</span>
        <button mat-icon-button color="primary" (click)="Detalles(row.dni)">
          <i class="fa fa-info-circle"></i>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EDITAR</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">EDITAR</span>
        <button mat-icon-button color="primary" (click)="Editar(row.dni)">
          <i class="fa fa-edit"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 30, 50, 80, 100]">
  </mat-paginator>
</div>
