<div class="container-fluid text-center">
  <img class="img-fluid"
       src="https://rsgm.online/CETPasitos/assets/baner.jpg"
       alt="pasitos">
</div>
<mat-toolbar [fxShow]="true" color="primary" *ngIf="logeado">
  <mat-toolbar-row>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button [matMenuTriggerFor]="admiperso">ADM. PERSONAL</button>
      <mat-menu #admiperso="matMenu">
        <button mat-menu-item [routerLink]="['/padres']">PADRES</button>
        <button mat-menu-item [routerLink]="['/familiares']">FAMILIARES</button>
        <button mat-menu-item [routerLink]="['/estudiantes']">ESTUDIANTES</button>
        <button mat-menu-item [routerLink]="['/usuarios']">USUARIOS</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admpagos">ADM. PAGOS</button>
      <mat-menu #admpagos="matMenu">
        <button mat-menu-item [routerLink]="['/matriculas']">MATRICULA</button>
        <button mat-menu-item [routerLink]="['/mensualidades','1']">MENSUALIDADES</button>
        <!--<button mat-menu-item [routerLink]="['/mensualidades','2']">EXTRAS</button>-->
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admserv">ADM. SERVICIOS</button>
      <mat-menu #admserv="matMenu">
        <button mat-menu-item [routerLink]="['/asistencia']">ASISTENCIA</button>
        <button mat-menu-item [routerLink]="['/alimentos']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/turnoextra']">TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/horaextra']">HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/alimentoextra']">ALIMENTOS EXTRA</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admcost">ADM. COSTOS</button>
      <mat-menu #admcost="matMenu">
        <button mat-menu-item [routerLink]="['/turnosc']">TURNOS</button>
        <button mat-menu-item [routerLink]="['/alimentosc']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/costomatriturno']">COSTOS MATRICULAS TURNOS</button>
        <button mat-menu-item [routerLink]="['/costomensuturno']">COSTOS MENSUALIDADES TURNOS</button>
        <button mat-menu-item [routerLink]="['/costomensualimen']">COSTOS MENSUALIDADES ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/costoturn']">COSTOS TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/costohora']">COSTOS HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/costoalim']">COSTOS ALIMENTOS EXTRA</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="report">REPORTES</button>
      <mat-menu #report="matMenu">
        <button mat-menu-item [routerLink]="['/cumpleanios','estudiantes']">CUMPLEAÑOS ESTUDIANTES</button>
        <button mat-menu-item [routerLink]="['/cumpleanios','padres']">CUMPLEAÑOS PADRES</button>
        <button mat-menu-item [routerLink]="['/deudopagado','morosos','1']">MOROSOS MENSUALIDADES</button>
        <button mat-menu-item [routerLink]="['/deudopagado','pagados','1']">PAGADOS MENSUALIDADES</button>
        <!--<button mat-menu-item [routerLink]="['/deudopagado','morosos','2']">MOROSOS EXTRAS</button>
        <button mat-menu-item [routerLink]="['/deudopagado','pagados','2']">PAGADOS EXTRAS</button>-->
        <button mat-menu-item [routerLink]="['/Rasistenciaalimento','turnos']">ASISTENCIA</button>
        <button mat-menu-item [routerLink]="['/Rasistenciaalimento','alimentos']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/Rturnoextra']">TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/RHoraextra']">HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/Ralimentoextra']">ALIMENTOS EXTRA</button>
      </mat-menu>
      <button mat-button (click)="Salir()" *ngIf="logeado">SALIR</button>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
        <a>MENU</a>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <button mat-button [matMenuTriggerFor]="admiperso">ADM. PERSONAL</button>
      <mat-menu #admiperso="matMenu">
        <button mat-menu-item [routerLink]="['/padres']">PADRES</button>
        <button mat-menu-item [routerLink]="['/familiares']">FAMILIARES</button>
        <button mat-menu-item [routerLink]="['/estudiantes']">ESTUDIANTES</button>
        <button mat-menu-item [routerLink]="['/usuarios']">USUARIOS</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admpagos">ADM. PAGOS</button>
      <mat-menu #admpagos="matMenu">
        <button mat-menu-item [routerLink]="['/matriculas']">MATRICULA</button>
        <button mat-menu-item [routerLink]="['/mensualidades','1']">MENSUALIDADES</button>
        <!--<button mat-menu-item [routerLink]="['/mensualidades','2']">EXTRAS</button>-->
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admserv">ADM. SERVICIOS</button>
      <mat-menu #admserv="matMenu">
        <button mat-menu-item [routerLink]="['/asistencia']">ASISTENCIA</button>
        <button mat-menu-item [routerLink]="['/alimentos']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/turnoextra']">TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/horaextra']">HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/alimentoextra']">ALIMENTOS EXTRA</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="admcost">ADM. COSTOS</button>
      <mat-menu #admcost="matMenu">
        <button mat-menu-item [routerLink]="['/turnosc']">TURNOS</button>
        <button mat-menu-item [routerLink]="['/alimentosc']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/costomatriturno']">COSTOS MATRICULAS TURNOS</button>
        <button mat-menu-item [routerLink]="['/costomensuturno']">COSTOS MENSUALIDADES TURNOS</button>
        <button mat-menu-item [routerLink]="['/costomensualimen']">COSTOS MENSUALIDADES ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/costoturn']">COSTOS TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/costohora']">COSTOS HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/costoalim']">COSTOS ALIMENTOS EXTRA</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="report">REPORTES</button>
      <mat-menu #report="matMenu">
        <button mat-menu-item [routerLink]="['/cumpleanios','estudiantes']">CUMPLEAÑOS ESTUDIANTES</button>
        <button mat-menu-item [routerLink]="['/cumpleanios','padres']">CUMPLEAÑOS PADRES</button>
        <button mat-menu-item [routerLink]="['/deudopagado','morosos','1']">MOROSOS MENSUALIDADES</button>
        <button mat-menu-item [routerLink]="['/deudopagado','pagados','1']">PAGADOS MENSUALIDADES</button>
        <!--<button mat-menu-item [routerLink]="['/deudopagado','morosos','2']">MOROSOS EXTRAS</button>
        <button mat-menu-item [routerLink]="['/deudopagado','pagados','2']">PAGADOS EXTRAS</button>-->
        <button mat-menu-item [routerLink]="['/Rasistenciaalimento','turnos']">ASISTENCIA</button>
        <button mat-menu-item [routerLink]="['/Rasistenciaalimento','alimentos']">ALIMENTOS</button>
        <button mat-menu-item [routerLink]="['/Rturnoextra']">TURNOS EXTRA</button>
        <button mat-menu-item [routerLink]="['/RHoraextra']">HORAS EXTRA</button>
        <button mat-menu-item [routerLink]="['/Ralimentoextra']">ALIMENTOS EXTRA</button>
      </mat-menu>
      <span fxFlex></span>
      <button mat-button (click)="Salir()" *ngIf="logeado">Salir</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
